# Ignoră folderele generate automat
calibrations/
2D_Plots/
cross_section/
efficiency/
Old/
config_files/
/Runs

# Ignoră fișierele temporare și de backup
Plot2D_C_ACLiC_dict_rdict.pcm
Plot2D_C.d
Plot2D_C.so
#*.root